$markerColor: rgb(177, 177, 177);
// $markerColor: #5e5e5e;

.timeline {
	height: 3rem;
	// background-color: rgb(89, 91, 94);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.rulerMarker {
	width: 2px;
	height: 25px;
	background-color: $markerColor;
	position: relative;
}

.rulerMarkerNumber {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, 110%);
}

.subRulerMarker {
	width: 2px;
	height: 10px;
	background-color: $markerColor;
}

.indexMarker {
	width: 2px;
	height: 2rem;
	background-color: red;
	position: absolute;
	left: 0px;
	// transition: 250ms linear;
}
.passive {
	background-color: #5e5e5e;
}
.passiveText {
	color: #5e5e5e;
}
